@{
    ViewBag.Title = "Green and Go!";
}

<div class="jumbotron">
    <h1>Green And Go!</h1>
    <p class="lead">Get quotes from local green couriers!</p>
</div>

<div class="row">
    @Html.Partial("~/Views/Quote/_QueryPartial.cshtml ")

</div>